.btn {
  @include bgGradient(100deg, #68DBB5, #ADF18D);
  box-shadow: 0px 0px 30px rgba(170, 170, 170, .7);
  color: #FFF;
  padding: .65em 1em;
  font-size: .9em;
  font-weight: 600;
  display: block;
  border: none;
  font-family: $main-font;
  cursor: pointer;
  text-align: center;
  &.btn-login {
    text-transform: uppercase;
  }
  &.btn-error {
    @include bgGradient(100deg, #FF0844, #FFB199);
  }
  &.btn-image {
    display: block;
    vertical-align: middle;
    img {
      vertical-align: -3px;
      margin-right: 10px;
    }
  }
  &.btn-main {
    display: inline-block;
    padding: .75em 1.1em;
    font-size: 1em;
    font-weight: 600;
  }
  &.btn-default {
    font-weight: 400;
    letter-spacing: 1px;
  }
}
