$background-color : #F9F9FA;

$master-green : #51CCA3;
$grey : #AAAAAA;
$grey-contrasted : #4F4F4F;
$black : #515151;

$main-font : 'Raleway', 'open-sans', sans-serif;
$secondary-font : 'Open Sans', sans-serif
