section#home {
  width: 82%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  #background-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140vh;
    z-index: -1;
    background-image: url(asset-path('homepage-circles.svg'));
    background-repeat: no-repeat;
    background-position: top center;
  }
  h1 {
    font-size: 1.7em;
    color: $grey-contrasted;
    font-weight: 600;
    padding-bottom: .6em;
  }
  h2 {
    font-size: 1.2em;
    color: $grey;
    font-weight: 400;
    padding-bottom: 2em;
  }
  #main-element {
    width: 85%;
    background-image: url(asset-path('homepage-main.svg'));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 48vh;
    margin: 0 auto 3.5em;
  }
  .btn-main {
    margin-bottom: 3em;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1em;
    color: $grey-contrasted;
    font-weight: 600;
    margin: 1.5em 0;
  }
  .grid {
    display: flex;
    text-align: center;
    justify-content: top;
    margin-bottom: 3em;
    .bloc {
      padding: 1.5em;
      flex-grow: 1;
      justify-content: space-between;
      width: 33%;
      h4 {
        font-size: 1.25em;
        color: $master-green;
        font-weight: 600;
        margin-bottom: 1em;
      }
    }
  }
  #events {
    h3 {
      padding-top: 2em;
    }
    #card {
      height: 8em;
      width: 50%;
      margin: 3em auto;
      margin-bottom: 3.5em;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      position: relative;
      background-color: $grey;
      border: none;
      height: 1px;
      width: 390px;
      margin: 0 auto;
    }
    &:before {
      margin-bottom: 2em;
    }
    &:after {
      margin-top: 2em;
    }
  }
  #newsletter {
    margin: 3em 0 0;
    h3 {
      margin-bottom: .9em;
    }
    h5 {
      font-size: 1.2em;
      color: $grey;
    }
    form {
      margin-top: 3em;
      .btn {
        padding: .6em .9em;
        font-size: 1.05em;
        display: block;
        margin: 2em auto;
        min-width: 13em;
      }
    }
  }
  #social {
    margin-bottom: 4em;
    a {
      height: 2em;
      width: 2em;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .facebook {
      background-image: url(asset-path('icons/facebook.svg'));
      vertical-align: 5px;
      margin-left: 1em;
    }
    .twitter {
      background-image: url(asset-path('icons/twitter.svg'));
    }
  }
}
