section#issues.index {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  #card {
    width: 38vw;
    margin-bottom: 3em;
    box-shadow: 0 0 30px rgba($grey, .7);
    .more {
      text-align: center;
      margin-top: 2em;
      .btn {
        display: inline-block;
        font-size: 1.05em;
        box-shadow: none;
      }
    }
    .issues {
      float: right;
      margin-top: .2em;
      color: $master-green;
      font-weight: 600;
      font-size: 1.05em;
      span {
        display: inline-block;
        height: 1em;
        width: 1em;
        margin-left: 1em;
        margin-right: .5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        &.comment {
          background-image: url(asset-path('icons/issues-card_comment.svg'));
        }
        &.heart {
          background-image: url(asset-path('icons/issues-card_heart.svg'));
        }
      }
    }
  }
  h3 {
    font-family: $secondary-font;
    font-size: 11vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    color: $grey;
    opacity: .2;
    z-index: -1;
  }
}
