section#live {
  width: 100%;
  font-family: $secondary-font;
  #video-chat {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1022px) {
      flex-wrap: wrap;
    }
    .video {
      width: 65vw;
      height: 70vh;
      @media screen and (max-width: 1022px) {
        width: 100%;
        margin-bottom: 2em;
      }
      @media screen and (max-width: 750px) {
        height: 40vh;
      }
    }
    .chat {
      width: 32vw;
      height: 70vh;
      @media screen and (max-width: 1022px) {
        width: 100%;
      }
    }
  }
  #content {
    width: 85vw;
    margin: 3em auto;
    #label {
      font-size: 2.5em;
      color: $master-green;
      font-weight: 700;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        position: relative;
        background-color: $master-green;
        border: none;
        height: 3px;
        width: 150px;
        margin-top: 6px;
        margin-left: 2px;
      }
    }
    h2 {
      display: inline-block;
      margin: 1.5em 0 2.5em;
      font-weight: 700;
      color: $grey-contrasted;
      font-size: 1.4em;
    }
    p {
      color: $grey-contrasted;
      font-weight: 400;
    }

  }
}
