<section id="live">
  <div id="video-chat">
    <iframe src="https://www.youtube.com/embed/<%= @json["items"][0]["id"]["videoId"] %>" class="video"></iframe>
    <iframe src="https://www.youtube.com/live_chat?v=<%= @json["items"][0]["id"]["videoId"] %>&embed_domain=localhost" frameborder="0" class="chat"></iframe>
  </div>

  <div id="content">
    <span id="label">
    <% if @json["pageInfo"]["totalResults"] >= 1 %>
      Live
    <% else %>
      Hors live
    <% end %>
    </span>

    <h2><%= @json["items"][0]["snippet"]["title"] %></h2>

    <p><%= @json["items"][0]["snippet"]["description"] %></p>

  </div>

</section>
